.margin-bottom-md-1 {
  margin-bottom: $space-md-1;
}

.margin-bottom-sm-2 {
  margin-bottom: $space-sm-2;
}

.margin-bottom-md-2 {
  margin-bottom: $space-md-2;
}

.margin-bottom-lg-1 {
  margin-bottom: $space-lg-1;
}
