.header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-sm-2 $space-md-4 $space-sm-2 $space-md-4;
    background-color: $color-primary;
  }

  &__logo {
    // text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size-md-3;
    font-weight: 600;
    font-style: italic;
    color: $color-white-light;
  }

  &__nav {
    &--button {
      background: none;
      border: none;
      width: $space-md-3;
      height: $space-md-3;
      cursor: pointer;
    }

    &--icon {
      color: $color-white-light;
      height: $space-md-3;
      width: $space-md-3;
    }
  }
}

.section-hero {
  max-width: 151.9rem;
  height: 90vh;
  padding: $space-xl-2 $space-md-4 $space-md-4 $space-md-4;
  margin-bottom: $space-md-4;

  background-image: linear-gradient(
    to bottom,
    $color-primary,
    $color-primary-light
  );

  &__box {
    text-align: center;
  }

  &__text {
    font-size: $font-size-xs-2;
    font-weight: 600;
    color: #b3b3b3;
    letter-spacing: -0.2px;

    &--link {
      text-decoration: none;
      color: $color-links;
      transition: all 0.1s;
    }

    &--link:hover {
      text-decoration: underline;
    }
  }
}

.section-about {
  max-width: 151.9rem;
  padding: $space-xxl-1;
  background-color: #f9fafb;

  &__image img {
    width: 100%;
    border-radius: 11px;
  }

  &__text {
    font-size: $font-size-md-3;
    font-weight: 400;
    line-height: 2;
    // color: $color-primary;
    color: $color-grey-dark;

    &:not(:last-child) {
      margin: 0 0 $space-sm-1;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-sm-1;
  }

  &__skills {
    margin-top: $space-md-2;
  }

  &__list-items {
    font-size: $font-size-md-1;
    font-weight: 600;
    color: currentColor;

    &--icons {
      color: $color-accent-light;
    }
  }
}

.section-projects {
  max-width: 151.9rem;
  padding: $space-xxl-1;
  background-color: $color-accent-light;
}
